* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
  background-color:#173a4f;
  font-family: "poppins", sans-serif;
  }
  main{
    display: flex;
    flex-wrap: wrap;
  }

  header{
    background-color: #47a7de;
    padding: 1.5rem;
    display: flex;
    justify-content: flex-end;
  }

  .search {
    padding: 0.5rem;
    background-color: transparent;
    border: 2px solid #9c5454;
    font-family: inherit;
    color: white;
    font-size: 1rem;
    border-radius: 50px;
    outline: none;
  }
  .search::placeholder{
    color:white;
  }
  .search:focus{
    background-color: #22254b;
    outline: none;

  }

  .movies{
    background-color: #47a7de;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    overflow: hidden;
    width: 200px;
    margin: 1.5rem;
    position: relative;
  }

  .movies img{
    width: 100%;
  }

  .movie-info{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.4rem 1rem;
    letter-spacing: 0.5px;

    
  }
  .movie-info h3{
    margin: 0;
  }
  .movie-info span{
    background-color: #173a4f;
    padding: 0.5rem 0.4rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
    font-size: 01rem;
  }
  .movie-info span.green{
    color: green;
  }
  .movie-info span.orange{
   color: orange;
  }
  .movie-info span.red{
   color: red;
  }

.overview{
    background-color: white;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    overflow: scroll;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
  }

  .overview h4{
    margin-top: 0;
  }

  .movies:hover .overview{
    transform: translateY(0);
  }


  
