* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Poppins', sans-serif;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
  }

.note{
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin: 20px;
      width: 400px;
      height: 400px;
  }

  .note .tools{
      background-color: #25d952;
      display: flex;
      justify-content: flex-end;
      padding: 0.5rem;
  }

  .note .tools button{
    outline: none;
      background-color: transparent;
      border: none;
      color: white;
      margin: 0.2rem;
      font-size: 1rem;
  }
  .note .main{
      background-color: #eeeeee;
      border: none;
      overflow: hidden;
      height: 400px;
      width: 100%;
  }
  .note textarea{
      outline: none;
      border: none;
      height: 400px;
      width: 100%;
  }
  .add{
      background-color: #25d952;
      border-radius: 3px;
      border: none;
      color: white;
      padding: 0.5rem 1rem;
      position: fixed;
      top: 1rem;
      right: 1rem;
  }

  .note .hidden{
      display: none;
  }